name: CI Pipeline

on:
  push:
    branches:
      - feature/*
  pull_request:
    branches:
      - main

jobs:
  unit-tests:
    uses: ./.github/workflows/unittest-backend.yml

  build-containers:
    needs: unit-tests
    uses: ./.github/workflows/build-and-push-container.yml