name: Pipeline Workflow
#trigger feature branch
on:
  push:
    branches:
      - feature/*

  pull_request:
    branches:
      - main
#--------------------------------------------------------------------------
#bygga postgres image
jobs:
   unittest:
    uses: ./.github/workflows/build-backend-unittest.yml

   
#--------------------------------------------------------------------------------- 
   container-backend:
    needs: unittest
    permissions:
          contents: read
          packages: write

    uses: ./.github/workflows/build-and-push-container-image-backend.yml
    secrets:
        TOKEN2026: ${{ secrets.TOKEN2026 }}
#----------------------------------------------------------------------------------  
   container-frontend:
    needs: container-backend
    permissions:
          contents: read
          packages: write

    uses: ./.github/workflows/build-and-push-container-image-frontend.yml
    secrets:
        TOKEN2026: ${{ secrets.TOKEN2026 }}

