name: Pipeline Workflow
#trigger feature branch
on:
  push:
    branches:
      - feature/*

  pull_request:
    branches:
      - main
#--------------------------------------------------------------------------
#bygga postgres image
jobs:
   build-unittest:
    uses: ./.github/workflows/build-backend-unittest.yml

   build-container-images-postgres:
    needs: build-unittest
    permissions:
      contents: read
      packages: write

    uses: ./.github/workflows/build-container-image-postgres.yml
    secrets:
      TOKEN2026: ${{ secrets.TOKEN2026 }}

#---------------------------------------------------------------------------------    
   build-container-images-redis:
    needs: build-container-images-postgres
    permissions:
          contents: read
          packages: write

    uses: ./.github/workflows/build-container-image-redis.yml
    secrets:
        TOKEN2026: ${{ secrets.TOKEN2026 }}


#--------------------------------------------------------------------------------- 
   build-container-images-backend:
    needs: build-container-images-redis
    permissions:
          contents: read
          packages: write

    uses: ./.github/workflows/build-container-image-backend.yml
    secrets:
        TOKEN2026: ${{ secrets.TOKEN2026 }}
#----------------------------------------------------------------------------------  
   build-container-images-frontend:
    needs: build-container-images-backend
    permissions:
          contents: read
          packages: write

    uses: ./.github/workflows/build-container-image-frontend.yml
    secrets:
        TOKEN2026: ${{ secrets.TOKEN2026 }}

