name: CI Pipeline Workflow

on:
  push:
    branches:
      - feature/*
  pull_request:
    branches:
      - main

permissions:
  contents: read
  packages: write   

jobs:
  unit-tests:
    uses: ./.github/workflows/unittest-backend.yml

  build-containers:
    needs: unit-tests
    uses: ./.github/workflows/build-and-push--container.yml