name: Backend Unit Tests
#trigger feature branch
on:
  push:
    branches: 
      - feature/* 
      
  pull_request:
    branches:
      - main  

jobs: 
  build-unittest-backend:
    runs-on: ubuntu-latest

    steps:
        # Checkout repo
        - name: Checkout repo
          uses: actions/checkout@v4

        # Set up Go
        - name: Set up Go
          uses: actions/setup-go@v4
          with:
            go-version: 1.24.12

        # Go command Download Go 
        - name: Download Go Dependencies
          working-directory: backend
          run: go mod download

        # Run unittest in backend/main-test.go:
        - name: Run unittests
          working-directory: backend
          run: | 
            cd backend
            go test -v main-test.go
