name: Update Kubernetes Sandbox Repo Container Images

on:
    workflow_call:
      inputs:
        FRONTEND_IMAGE_TAG:
          required: true
          type: string

        BACKEND_IMAGE_TAG:
          required: true
          type: string

      secrets:
        KUBERNETESSANDBOXTOKEN:
          required: true



jobs:

  update-sandbox-container-images:

    runs-on: ubuntu-latest

   

    steps:

        # Checkout Kubernetes Sandbox Repo
        - name: Checkout Kubernetes Sandbox repo(infra)
          uses: actions/checkout@v4
          with:
            repository: almafrank/KubernetesSandbox
            token: ${{ secrets.KUBERNETESSANDBOXTOKEN }}
            path: . ##rooten

        #Update container images from frontend and backend in KS repo
        - name: Update container images in Kubernetes Sandbox repo
          run: |
            
            ls -R
            echo "Frontend tag: ${{ inputs.FRONTEND_IMAGE_TAG }}"
            echo "Backend tag: ${{ inputs.BACKEND_IMAGE_TAG }}"

            
            sed -i "s|image: ghcr.io/almafrank/backend-guestbook:.*|image: ghcr.io/almafrank/backend-guestbook:${{ inputs.BACKEND_IMAGE_TAG }}|" sandbox/backend/backend.yaml
            sed -i "s|image: ghcr.io/almafrank/frontend-guestbook:.*|image: ghcr.io/almafrank/frontend-guestbook:${{ inputs.FRONTEND_IMAGE_TAG }}|" sandbox/frontend/frontend.yaml
        
        - name: See changes
          run: |
           cd sandbox
           git diff


        - name: Commit and push changes to Kubernetes SandBox->connected with Argo
          run: |
            
            git config user.name "almafrank"
            git config user.email "almafrank107@yahoo.com"
            git add .

            if git diff-index --quiet HEAD; then
              echo "No changes to commit"
            else
              git commit -m "Update frontend container image to ${{ inputs.FRONTEND_IMAGE_TAG }} and backend container image to ${{ inputs.BACKEND_IMAGE_TAG }}"
              git push origin main
            fi